/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #fff;
}

/* ====================================== */
/* CONTAINER */

/* ====================================== */
/* HEADER */
.container-header {
  width: 100%;
  height: auto;
  margin: auto;
  position: fixed;
  background: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ====================================== */
/* NAV */
.nav {
  width: 80%;
  margin: 0 auto;
}
.nav__main-menu {
  border-top: 1px solid #eee;
  height: 40px;
}

.nav__search-button {
  margin-left: auto;
}

.nav__main-menu > ul {
  display: flex;
  margin: 0 -10px;
}

.nav__main-menu ul .nav__search-button {
  margin-left: auto;
}

.nav__search-button i {
  color: #000;
}

.nav__search-button i:hover {
  color: #f00;
}

.nav__main-menu > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.nav__main-menu > ul > li > a {
  text-decoration: none;
  color: #000;
}

.nav__main-menu > ul > li > a:hover {
  color: #f00;
}

.nav__input-search {
  border: 2px solid #eee;
  border-radius: 5px;
}

.nav__input-search:hover {
  border: 1px solid #f00;
}

.nav__drop {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-top: 10px;
  position: absolute;
  display: none;
}

.nav__drop > li > a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: smaller;
  background: #fff;
}

.nav__drop > li > a:hover {
  color: #f00;
}

.nav__main-menu > ul > li:hover .nav__drop {
  display: block;
}
/* END NAV */
/* ====================================== */

/* ====================================== */
/* SECTION BANNER */

.banner img {
  padding-top: 9%;
  width: 100%;
}

/* END SECTION BANNER */
/* ====================================== */

/* ====================================== */
/* TRENDING SECTION */
.trending-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.trending-image {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  padding: 0;
}

.img-list {
  display: grid;
  grid-template-columns: auto auto;
}

.img > img {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.image__caption p {
  padding-top: 10px;
  font-size: 11px;
  color: #f00;
}

.image__caption h3 {
  font-size: 17px;
  margin: 0;
}

.image__caption pre {
  color: #aaa;
  font-family: sans-serif;
  font-size: small;
  padding-top: 0;
  margin-top: 5px;
}

/* END SECTION */
/* ====================================== */

/* ====================================== */
/* FRESH STORIES */

.fresh-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.fresh-section__image-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.fresh-img {
  margin: 10px 0;
  flex-grow: 1;
}

.fresh-img__caption p {
  padding-top: 10px;
  font-size: 11px;
  color: #f00;
}

.fresh-img__caption h3 {
  padding-top: 10px;
  font-size: 17px;
  margin: 0;
}

.fresh-img__caption pre {
  color: #aaa;
  font-family: sans-serif;
  font-size: small;
  padding-top: 10px;
  margin-top: 5px;
}



/* END SECTION */
/* ====================================== */

/* ====================================== */
/* CONTACT  */
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-contact input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.container-contact input:hover {
  border: 1px solid #f00;
}

#send {
  width: 90%;
  cursor: pointer;
}

#send:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

/* ====================================== */
/* FOOTER */
footer {
  width: 80%;
  margin: 0 auto;
}

.container-footer__logo-footer {
  text-align: center;
}

.social-icons {
  color: #000;
  padding: 10px;
}

.container-footer__footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer__footer-icons i:hover {
  color: #f00;
}

.copy {
  font-size: small;
  color: #aaa;
  text-align: center;
}

/* END FOOTER */
/* ====================================== */
