/* GENERAL STYLES */
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #fff;
  padding-top: 20px;
  margin: auto;
}

/* ====================================== */
/* CONTAINER */
#container {
  width: 100%;
  height: auto;
  background: #fff;
}

/* ====================================== */
/* HEADER */
.container-header {
  width: 100%;
  height: 140px;
  margin: auto;
  position: fixed;
  background: #fff;
  margin-top: -20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ====================================== */
/* NAV */
.nav {
  width: 80%;
  margin: 0 auto;
}
.nav__main-menu {
  border-top: 1px solid #eee;
  height: 40px;
}

.nav__search-button {
  margin-left: auto;
}

.nav__main-menu > ul {
  display: flex;
  margin: 0 -10px;
}

.nav__main-menu ul .nav__search-button {
  margin-left: auto;
}

.nav__search-button i {
  color: #000;
}

.nav__search-button i:hover {
  color: red;
}

.nav__main-menu > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.nav__main-menu > ul > li > a {
  text-decoration: none;
  color: #000;
}

.nav__main-menu > ul > li > a:hover {
  color: red;
}

.nav__input-search {
  border: 2px solid #eee;
  border-radius: 5px;
}

.nav__input-search:hover {
  border: 1px solid red;
}

.nav__drop {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-top: 10px;
  position: absolute;
  display: none;
  z-index: 999;
}

.nav__drop > li > a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: smaller;
  background: #fff;
}

.nav__drop > li > a:hover {
  color: red;
}

.nav__main-menu > ul > li:hover .nav__drop {
  display: block;
}
/* END NAV */
/* ====================================== */

/* ====================================== */
/* SECTION BANNER */

.banner img {
  padding-top: 9%;
  width: 100%;
}

/* END SECTION BANNER */
/* ====================================== */

/* ====================================== */
/* SECTION */

#container-section {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 img {
  width: 500px;
  height: 500px;
}

.image {
  width: 230px;
  height: auto;
  padding-left: 70px;
}

.image__caption p {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 11px;
  color: red;
}

.image__caption h3 {
  font-size: 17px;
  margin: 0;
}

.image__caption pre {
  color: #aaa;
  font-family: sans-serif;
  font-size: small;
  padding-top: 0;
  margin-top: 5px;
}

.image3 {
  padding-top: 5px;
}

.clearfix {
  clear: both;
}

/* END SECTION */
/* ====================================== */

/* ====================================== */
/* CONTACT  */
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-contact input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.container-contact input:hover {
  border: 1px solid red;
}

#send {
  width: 90%;
  cursor: pointer;
}

#send:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

/* ====================================== */
/* FOOTER */
footer {
  width: 80%;
  margin: 0 auto;
}

.logo-footer {
  text-align: center;
}

.social-icons {
  color: #000;
  padding: 10px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons i:hover {
  color: red;
}

.copy {
  font-size: small;
  color: #aaa;
  text-align: center;
}

/* END FOOTER */
/* ====================================== */
