/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #fff;
}

/* ====================================== */
/* CONTAINER */

/* ====================================== */
/* HEADER */
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: auto;
  position: fixed;
  background: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ====================================== */
/* NAV */
.nav {
  width: 80%;
  margin: 0 auto;
}
.nav__main-menu {
  border-top: 1px solid #eee;
  height: 40px;
}

.nav__search-button {
  margin-left: auto;
}

.nav__main-menu > ul {
  display: flex;
  margin: 0 -10px;
}

.nav__main-menu ul .nav__search-button {
  margin-left: auto;
}

.nav__search-button i {
  color: #000;
}

.nav__search-button i:hover {
  color: #f00;
}

.nav__main-menu > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.nav__main-menu > ul > li > a {
  text-decoration: none;
  color: #000;
}

.nav__main-menu > ul > li > a:hover {
  color: #f00;
}

.nav__input-search {
  border: 2px solid #eee;
  border-radius: 5px;
}

.nav__input-search:hover {
  border: 1px solid #f00;
}

.nav__drop {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-top: 10px;
  position: absolute;
  display: none;
}

.nav__drop > li > a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: smaller;
  background: #fff;
}

.nav__drop > li > a:hover {
  color: #f00;
}

.nav__main-menu > ul > li:hover .nav__drop {
  display: block;
}
/* END NAV */
/* ====================================== */

/* ====================================== */
/* SECTION BANNER */

.banner img {
  padding-top: 7%;
  min-width: 600px;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .banner img {
    padding-top: 100px;
    width: 100%;
    object-fit: cover;
  }

  .logo img {
    margin-left: -400px;
  }

  .nav {
    width: 600px;
    margin: 0 20px;
  }
  .nav__input-search {
    display: none;
  }

  .img-list__img1 img {
    width: 300px;
    height: auto;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .banner img {
    padding-top: 100px;
    width: 100%;
    object-fit: cover;
  }

  .logo img {
    margin-left: -270px;
  }

  .nav {
    width: 600px;
    margin: 0 40px;
  }
}

/* END SECTION BANNER */
/* ====================================== */

/* ====================================== */
/* TRENDING SECTION */

.trending-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.trending-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.img-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
}

.img {
  display: grid;
  grid-column: auto;
}

.img-list__img1 {
  margin-left: 70px;
}

.img:nth-child(3){
  padding-top: 65px;
}

.img:nth-child(4){
  padding-top: 65px;
}



.image__caption p {
  padding-top: 10px;
  font-size: 11px;
  color: #f00;
}

.image__caption h3 {
  font-size: 17px;
  margin: 0;
}

.image__caption pre {
  color: #aaa;
  font-family: sans-serif;
  font-size: small;
  padding-top: 0;
  margin-top: 5px;
}

/* END SECTION */
/* ====================================== */

/* ====================================== */
/* FRESH
 STORIES */
.fresh-section {
  background: #f8f9fa;
  padding-bottom: 50px;
}

.fresh-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.fresh-section__image-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.fresh-img {
  margin: 10px 0;
  flex-grow: 1;
}

.fresh-img__caption p {
  padding-top: 10px;
  font-size: 11px;
  color: #f00;
}

.fresh-img__caption h3 {
  padding-top: 10px;
  font-size: 17px;
  margin: 0;
}

.fresh-img__caption pre {
  color: #aaa;
  font-family: sans-serif;
  font-size: small;
  padding-top: 10px;
  margin-top: 5px;
}

.fresh-text {
  display: inline-block;
  width: 550px;
  text-align: justify;
  padding-top: 20px;
  color: #555;
}

/* END SECTION */
/* ====================================== */

/* ====================================== */
/* SECTION 3 */
.banner2 img {
  width: 100%;
  padding-bottom: 20px;
}

/* ====================================== */
/* CONTACT  */
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-contact input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.container-contact input:hover {
  border: 1px solid #f00;
}

.contact-form__send {
  width: 90%;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.contact-form__send:hover {
  background-color: #222;
  color: #fff;
}

/* ====================================== */
/* FOOTER */
footer {
  width: 80%;
  margin: 0 auto;
}

.container-footer__logo-footer {
  text-align: center;
}

.social-icons {
  color: #000;
  padding: 10px;
}

.container-footer__footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer__footer-icons i:hover {
  color: #f00;
}

.copy {
  font-size: small;
  color: #aaa;
  text-align: center;
}

/* END FOOTER */
/* ====================================== */
